@import "styles/common";

.container {
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: $gutter-sm;
  background-color: $color-app-header;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
