@import "common";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import "./bootstrap.min.css";

body {
  font-family: $font-family--default;
  font-size: $font-size--default;
  margin: 0;
  padding: 0;
  background: $color-app-background;
}

.font-bold {
  font-weight: $font-weight--bold;
}

img {
  max-width: 100%;
}

code {
  font-family: $font-family--code;
}
