@import "../../styles/common";

.footer {
  @include nav;

  text-transform: inherit;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  right: 0;
  height: $dimension-footer--height;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: $border-chrome;
}
