@import "../../styles/common";

.footer {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-footer;
  border-top: 1px solid #999;
  color: $color-app-header;
}
