@import "styles/common";

.container {
  padding: $gutter-sm;
  padding-bottom: $gutter-med;

  & > div:first-child {
    padding: 0;
    margin-bottom: $gutter-sm;

    & > h3 {
      margin-top: 0;
    }
  }
}
