@import "styles/common";

.tile-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: -$gutter-sm;

  @media screen and (max-width: 640px) {
    flex-direction: column;
    margin-right: 0;
  }

  li {
    width: 100%;
    flex-grow: 1;
    flex-basis: 31%;
    margin: 0 $gutter-sm $gutter-sm 0;
  }
}
