@import "styles/common";

$header-element-spacing: 20px;
$avatar-size: 75px;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index--chrome;
  border-bottom: $border-chrome--hover;
  color: $color-font-inverse;
  background-color: $color-app-header;
  display: flex;
}

.selfie {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: $header-element-spacing;

  .frame {
    width: $avatar-size;
    height: $avatar-size;
    background: $color-app-background--inverse;
    padding: 3px;
    cursor: pointer;
    border: $border-chrome--hover;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s;
    position: relative;
    top: 10px;

    img {
      width: 100%;
    }
  }
}

.messaging {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    font-size: 170%;
    margin: 0;

    a {
      color: $color-font-inverse;
    }
  }

  .subtitle {
    font-size: 100%;
    margin: 0;
  }
}

.contactIcons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  padding-right: $header-element-spacing;
  margin: 0;

  .phone {
    display: none;
  }

  a,
  a:focus,
  a:active:hover {
    background-color: $color-buttons;
    border-color: $color-buttons;
    color: $color-app-header;
    margin-right: 2px;
  }

  a:hover {
    background-color: $color-buttons--hover;
    border: 2px solid #eacb6e;
    padding: 9px 14px;
  }

  a:active:hover {
    background-color: $color-buttons--pressed;
    border-color: $color-buttons--pressed;
  }
}

.contactInfo {
  flex: 1;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .messaging {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .selfie {
    justify-content: center;
    margin-right: 0;
  }

  .contactIcons {
    .phone {
      display: block;
    }
  }

  .contactInfo {
    display: none;
  }

  .contactIcons {
    a {
      padding: 10px 15px;
    }
  }

  .nav .links {
    margin-right: $gutter-sm;
  }
}
